/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --bg-color: #000028;
  --parag-text-color: #f1b2ce;
  --parag-title-color: #ff0070;
  --parag-subtitle-color: #000028;
  --header-title-color: #db00ff;
  --accent-color: #ff0070;
  --accent-bg-color: #ff0070;
  --main-font: "IBM Plex mono";
  --button-color: #ff0070;
  --bg-image: url(../images/cover-image-dark.png);
}




