/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --bg-color: #FFF1F7;
  --parag-text-color: #353430;
  --parag-title-color: #353430;
  --header-title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --bg-image: url(../images/cover-image-light.png);
  --button-color: #353430;
  --accent-bg-color: #FF8DCB;
 
}