/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--bg-color, #000028);
  color: var(--text-color, #f1b2ce);
  font-family: var(--main-font, monospace);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header,
footer {
  block-size: 100vh;
  min-block-size: 648px;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: end;
  grid-template-areas:
    "nav"
    "header-title"
    "header-accent";
  padding: 10px;
  margin-block-end: 40px;
}

.header__theme-menu-button {
  background-color: transparent;
  color: var(--button-color);
  text-align: center;
  border: 1px solid transparent;
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-item {
  inline-size: 70px;
}

.header__theme-menu-list {
  display: flex;
  gap: 13px;
  align-items: center;
  flex-direction: column;
}

.header-main-title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 96px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--header-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  grid-area: header-title;
}

.header__theme-menu-button {
  cursor: pointer;
  padding-inline: 13px;
  transition: 300ms;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-color-hover);
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-color);
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--button-color);
  outline: none;
}

.header__decoration {
  position: relative;
}

.header__decoration::before {
  content: "REC";
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 38px;
  color: var(--accent-color);
}
.header__decoration::after {
  content: "";
  position: absolute;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px #ff0070;
  background-color: var(--accent-color, #ff0070);
  inset-block-start: 18px;
  inset-inline-end: 19px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--decorated-zone-color);
  border-inline-end: 1px solid var(--decorated-zone-color);
  inset-block-start: 10px;
  inset-inline-end: 10px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--decorated-zone-color);
  border-inline-start: 1px solid var(--decorated-zone-color);
  inset-block-end: 10px;
  inset-inline-start: 10px;
}

.header__theme-menu {
  grid-area: nav;
}

.header__accent-bg {
  background-color: var(--accent-color);
  display: inline-block;
  background-size: cover;
  color: var(--parag-subtitle-color);
  font-weight: 700;
  grid-area: header-accent;
}

.grid-area_title {
  grid-area: title;
}
.sunset {
  grid-area: sunset;
}
.ice-cream {
  grid-area: ice-cream;
}
.tape {
  grid-area: tape;
}

.books {
  grid-area: books;
}
.street {
  grid-area: street;
}

.content__figure {
  padding-inline: 10px;
}

.content__figure-section {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 10px;
  grid-template-areas:
    "title"
    "sunset"
    "ice-cream"
    "tape"
    "books"
    "street";
}

.content__picture {
  object-position: center;
  object-fit: cover;
}

.content__picture-size {
  display: block;
  object-position: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.content__text-block {
  padding-inline: 10px;
  margin-block-end: 50px;
}

.content__text-block_section-1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  row-gap: 20px;
  grid-template-areas:
    "grid-area_1"
    "grid-area_2"
    "grid-area_3";
}

.content__text-block_section-2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  row-gap: 20px;
  grid-template-areas:
    "grid-area_1"
    "grid-area_2"
    "grid-area_3"
    "grid-area_4";
}

.content__text-block_section-3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  row-gap: 20px;
  grid-template-areas:
    "grid-area_1"
    "grid-area_2"
    "grid-area_3"
    "grid-area_4"
    "grid-area_5"
    "grid-area_6"
    "grid-area_7";
}

.grid-area_1 {
  grid-area: grid-area_1;
}
.grid-area_2 {
  grid-area: grid-area_2;
}
.grid-area_3 {
  grid-area: grid-area_3;
}
.grid-area_4 {
  grid-area: grid-area_4;
}
.grid-area_5 {
  grid-area: grid-area_5;
}
.grid-area_6 {
  grid-area: grid-area_6;
}
.grid-area_7 {
  grid-area: grid-area_7;
}

.content__title {
  color: var(--parag-title-color);
  font-size: 18px;
  font-weight: 700;
  text-align: start;
}

.content__text-subtitle {
  background-color: var(--accent-bg-color);
  background-size: cover;
  color: var(--parag-subtitle-color);
  font-family: var(--main-font, monospace);
  font-size: 18px;
  font-weight: 700;
  margin-block-start: 0px;
  margin-block-end: 10px;
}

.content__text-block_section-3 .content__text-subtitle {
  margin-block-end: 0px;
}

.content__text-subtitle_regular {
  background-color: var(--accent-bg-color);
  background-size: cover;
  color: var(--parag-subtitle-color);
  font-size: 18px; /* поправить!!!!!!!!!!!!!!!!*/
  font-weight: 400;
  margin-block-start: 0px;
  margin-block-end: 10px;
}

.content__text {
  text-align: left;
  color: var(--parag-text-color);
  margin-block-end: 10px;
}

.content__text-block .content__text:last-child {
  margin-block-end: 0px;
}

.content__picture-subtitle {
  background-color: var(--accent-bg-color);
  display: inline-block;
  background-size: cover;
  color: var(--parag-subtitle-color);
  font-family: var(--main-font, monospace);
  font-size: 18px; /* поправить!!!!!!!!!!!!!!!!*/
  font-weight: 700;
  margin-block-end: 0px;
}

.footer__section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: 40px;
  max-height: 100vh;
  padding: 10px;
}

.footer__section .header-main-title {
  align-self: center;
  justify-self: center;
}

a:focus {
  outline: none;
}

.text-link {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.text-link:focus-visible {
  outline: 1px solid var(--button-color);
}

.text-link:hover {
  border-block-end: 1px solid var(--parag-text-color);
}

/*****************768***********************/

@media (min-width: 768px) {
  .header {
    grid-template-columns: repeat(2, minmax(364px, auto));
    grid-template-rows: 1fr min-content 1fr;
    grid-template-areas:
      ". nav"
      "header-title header-title"
      ". header-accent";
    padding: 20px;
    margin-block-end: 60px;
  }

  .header__decoration::before {
    inset-block-start: 20px;
    inset-inline-end: 49px;
  }

  .header__decoration::after {
    inset-block-start: 28px;
    inset-inline-end: 29px;
  }

  .decorated-zone::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .decorated-zone::after {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }

  .header-main-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  header .header-main-title {
    margin-inline-start: -20px;
    padding-block-start: 5px;
    justify-self: start;
    align-self: center;
  }

  .header__accent-bg {
    align-self: center;
  }
  .content__text-block_section-1 .content__title {
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-end: 10px;
  }

  .content__text-block_section-1 .content__text-subtitle {
    margin-inline-start: 13px;
    margin-block-end: 0px;
  }

  .content__text-block {
    margin-block-end: 80px;
    padding-inline: 20px;
  }

  .content__figure {
    margin-block-start: 80px;
    padding-inline: 20px;
  }
  .content__text-block_section-1 .content__text {
    margin-inline-start: 13px;
    padding-block-start: 10px;
    padding-block-end: 10px;
  }

  .content__text-block .content__text:last-of-type {
    padding-block-end: 0px;
  }

  .content__text-block_section-1 {
    display: grid;
    grid-template-columns: repeat(3, minmax(236px, auto));
    grid-template-rows: repeat(2, min-content);
    row-gap: 20px;
    grid-template-areas:
      "grid-area_1 grid-area_2 grid-area_2"
      ". grid-area_3 grid-area_3";
  }

  .content__text-block_section-2 .content__title {
    margin-block-start: 0px;
    margin-block-end: 1px;
    padding-inline-end: 10px;
  }

  .content__text-block_section-2 .content__text-subtitle {
    margin-inline-start: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
  }

  .content__text-block_section-2 .content__text {
    margin-inline-start: 0px;
    padding-block-start: 10px;
    padding-block-end: 0px;
  }

  .content__text-block_section-2 {
    display: grid;
    grid-template-columns: repeat(3, minmax(236px, auto));
    grid-template-rows: repeat(4, min-content);
    row-gap: 20px;
    grid-template-areas:
      "grid-area_1 . ."
      "grid-area_2 grid-area_2 grid-area_2"
      "grid-area_3 grid-area_3 grid-area_3"
      "grid-area_4 grid-area_4 grid-area_4";
  }

  .content__text-block_section-3 .content__title {
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-end: 0px;
  }

  .content__text-block_section-3 .content__text-subtitle {
    margin-inline-start: 13px;
    margin-block-start: 0px;
  }

  .content__text-block_section-3 .content__text-subtitle_regular {
    margin-inline-start: 13px;
  }
  .content__text-block_section-3 .content__text {
    margin-inline-start: 13px;
    padding-block-start: 0px;
    padding-block-end: 0px;
  }
  .content__text-block_section-3 {
    grid-template-columns: repeat(3, minmax(236px, auto));
    grid-template-rows: repeat(6, min-content);
    grid-template-areas:
      "grid-area_1 grid-area_2 grid-area_2"
      "grid-area_1 grid-area_3 grid-area_3"
      ". grid-area_4 grid-area_4"
      ". grid-area_5 grid-area_5"
      ". grid-area_6 grid-area_6"
      ". grid-area_7 grid-area_7";
  }

  .content__figure-section .content__picture-subtitle {
    margin-block-start: 0px;
  }

  .content__figure-section {
    grid-template-columns: repeat(3, minmax(229px, 314px));
    gap: 20px;
    grid-template-areas:
      "title title title"
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
  }

  .footer__section {
    margin-block-start: 60px;
    padding: 20px;
  }

  footer .header-main-title {
    margin-inline-start: 0px;
  }
}

/******************* 1024px******************/

@media (min-width: 1024px) {
  .header {
    grid-template-columns: repeat(2, minmax(491px, 1fr));
    grid-template-rows: 1fr min-content 1fr;
    grid-template-areas:
      "nav nav"
      "header-title header-title"
      ". header-accent";
  }

  .header__theme-menu {
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
  }

  .header__theme-menu {
    margin: 0;
    align-self: start;
    justify-self: center;
  }

  .header__accent-bg {
    margin-block-start: 131px;
    margin-block-end: 115px;
  }

  .content__text-block_section-1 .content__text-subtitle {
    margin-inline-start: 0px;
    margin-block-end: 10px;
  }

  .content__text-block_section-1 .content__text {
    margin-inline-start: 0px;
    padding-block-start: 0px;
    padding-block-end: 0px;
  }

  .content__text-block_section-1 {
    grid-template-columns: repeat(3, minmax(315px, 1fr));
    grid-template-rows: repeat(4, min-content);
    gap: 20px;
    grid-template-areas:
      "grid-area_1 grid-area_2 grid-area_2"
      "grid-area_1 grid-area_2 grid-area_2"
      ". grid-area_3 grid-area_3"
      ". grid-area_3 grid-area_3";
  }

  .content__text-block_section-2 .content__title {
    margin-block-end: 0px;
  }

  .content__text-block_section-2 .content__text-subtitle {
    margin-block-end: 10px;
  }

  .content__text-block_section-2 .content__text {
    padding-block-start: 0px;
  }

  .content__text-block_section-2 {
    grid-template-columns: repeat(3, minmax(315px, 1fr));
    grid-template-rows: repeat(2, min-content);
    column-gap: 20px;
    grid-template-areas:
      "grid-area_1 . ."
      "grid-area_2 grid-area_3 grid-area_4";
  }

  .content__text-block_section-3 .content__title {
    margin-block-end: 10px;
    padding-inline-end: 10px;
  }

  .content__text-block_section-3 .content__text-subtitle {
    margin-inline-start: 0px;
  }

  .content__text-block_section-3 .content__text-subtitle_regular {
    margin-inline-start: 0px;

    margin-block-end: 10px;
  }

  .content__text-block_section-3 .content__text {
    margin-inline-start: 0px;
  }
  .content__text-block_section-3 {
    column-gap: 20px;
    grid-template-columns: repeat(3, minmax(315px, 1fr));
    grid-template-rows: repeat(6, min-content);
    grid-template-areas:
      "grid-area_1 grid-area_2 grid-area_2"
      "grid-area_1 grid-area_3 grid-area_3"
      ". grid-area_4 grid-area_4"
      ". grid-area_5 grid-area_5"
      ". grid-area_6 grid-area_6"
      ". grid-area_7 grid-area_7";
  }

  .content__figure-section {
    display: grid;
    grid-template-columns: repeat(3, minmax(229px, 1fr));
    grid-auto-rows: auto;
    gap: 20px;
    grid-template-areas:
      "title title title"
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
  }
}
