/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--bg-color, #000028);
  color: var(--text-color, #f1b2ce);
  font-family: var(--main-font), sans-serif;
  background-image: var(--bg-image);
  background-attachment: fixed;
  inline-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 10px;
}

@media (prefers-color-scheme: dark) {
  .page {
    --bg-color: #000028;
    --parag-text-color: #f1b2ce;
    --parag-title-color: #ff0070;
    --parag-subtitle-color: #000028;
    --header-title-color: #db00ff;
    --accent-color: #ff0070;
    --accent-bg-color: #ff0070;
    --main-font: "IBM Plex mono";
    --button-color: #ff0070;
    --bg-image: url(../images/cover-image-dark.png);
  }
}

@media (prefers-color-scheme: light) {
  .page {
    --bg-color: #fff1f7;
    --parag-text-color: #353430;
    --parag-title-color: #353430;
    --parag-subtitle-color: #353430;
    --header-title-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --bg-image: url(../images/cover-image-light.png);
    --button-color: #353430;
    --accent-bg-color: #ff8dcb;
  }

  .page .header__decoration {
    display: none;
  }
}

header,
footer {
  max-height: 100vh;
}

.header {
  display: grid;
  grid-template-rows: repeat(4, min-content);
  grid-template-columns: 1fr;
  grid-template-areas:
    "decoration"
    "nav"
    "header-title"
    "header-accent";
}

.header__theme-menu-button {
  background-color: transparent;
  font-family: var(--main-font);
  color: var(--button-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  border: none;
}

.header__theme-menu-list {
  list-style: none;
  display: flex;
  gap: 14px;
  align-items: self-end;
  flex-direction: column;
  justify-content: end;
  padding: 0 10px;
}

.header-main-title {
  font-family: var(--main-font, sans-serif);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 96px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--header-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  margin: 0;
  padding-block-start: 3px;

  grid-area: header-title;
}

.text-shadow {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.header__decoration {
  position: relative;
  grid-area: decoration;
}

.header__decoration::before {
  content: "REC";
  position: absolute;
  font-size: 18px;
  font-family: var(--main-font, sans-serif);
  inset-block-start: 0px;
  inset-inline-end: 30px;
  color: var(--accent-color);
}
.header__decoration::after {
  content: "";
  position: absolute;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px #ff0070;
  background-color: var(--accent-color, #ff0070);
  inset-block-start: 7px;
  inset-inline-end: 10px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
  inset-block-start: 0px;
  inset-inline-end: 0px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
  inset-block-end: 0px;
  inset-inline-start: 0px;
}

.header__theme-menu {
  margin: 66.5px 0;
  grid-area: nav;
}

.grid-area_title {
  grid-area: title;
}
.sunset {
  grid-area: sunset;
}
.ice-cream {
  grid-area: ice-cream;
}
.tape {
  grid-area: tape;
}

.books {
  grid-area: books;
}
.street {
  grid-area: street;
}

.content__figure {
  margin-block-start: 50px;
}

.content__figure-section {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 10px;
  grid-template-areas:
    "title"
    "sunset"
    "ice-cream"
    "tape"
    "books"
    "street";
}

.content__picture {
  object-position: center;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

.content__picture-size {
  display: block;
  object-position: center;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

.header__accent-bg {
  background-color: var(--accent-color);
  display: inline-block;
  background-size: cover;
  color: var(--parag-subtitle-color);
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 700;
  margin-block-start: 55px;
  margin-block-end: 57px;
  grid-area: header-accent;
}

.content__text-block_section-1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  row-gap: 20px;
  grid-template-areas:
    "grid-area_1"
    "grid-area_2"
    "grid-area_3";
}

.content__text-block_section-2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  row-gap: 20px;
  grid-template-areas:
    "grid-area_1"
    "grid-area_2"
    "grid-area_3"
    "grid-area_4";
}

.content__text-block_section-3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  row-gap: 20px;
  grid-template-areas:
    "grid-area_1"
    "grid-area_2"
    "grid-area_3"
    "grid-area_4"
    "grid-area_5"
    "grid-area_6"
    "grid-area_7";
}

.grid-area_1 {
  grid-area: grid-area_1;
}
.grid-area_2 {
  grid-area: grid-area_2;
}
.grid-area_3 {
  grid-area: grid-area_3;
}
.grid-area_4 {
  grid-area: grid-area_4;
}
.grid-area_5 {
  grid-area: grid-area_5;
}
.grid-area_6 {
  grid-area: grid-area_6;
}
.grid-area_7 {
  grid-area: grid-area_7;
}

.grid-area_8 {
  grid-area: grid-area_8;
}

.grid-area_9 {
  grid-area: grid-area_9;
}

.grid-area_10 {
  grid-area: grid-area_10;
}

.grid-area_11 {
  grid-area: grid-area_11;
}

.grid-area_12 {
  grid-area: grid-area_12;
}

.content__title {
  font-family: var(--main-font);
  color: var(--parag-title-color);
  font-size: 18px;
  font-weight: 700;
  text-align: start;
  line-height: 23.4px;
  margin-block-start: 50px;
  margin-block-end: 0px;
}

.content__text-subtitle {
  background-color: var(--accent-bg-color);
  display: block;
  background-size: cover;
  color: var(--parag-subtitle-color);
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 700;
  margin-block-start: 0px;
  margin-block-end: 10px;
}

.content__text-block_section-3 .content__text-subtitle {
  margin-block-end: 0px;
}

.content__text-subtitle_regular {
  background-color: var(--accent-bg-color);
  font-family: var(--main-font);
  background-size: cover;
  color: var(--parag-subtitle-color);
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 400;
  margin-block-start: 0px;
  margin-block-end: 10px;
}

.content__text {
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--parag-text-color);
  margin-block-end: 10px;
}

.content__text-block .content__text:last-child {
  margin-block-end: 0px;
}

.content__picture-subtitle {
  background-color: var(--accent-bg-color);
  display: inline-block;
  background-size: cover;
  color: var(--parag-subtitle-color);
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 700;

  margin-block-end: 0px;
}

.footer__section {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  padding: 276px 20px;
  margin-block-start: 50px;
  max-height: 100vh;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--button-color);
  outline-offset: 3px;
}

a:focus {
  outline: none;
}

.content__text a {
  text-decoration: none;
}

.content__text a:focus-visible {
  outline: 1px solid var(--button-color);
}

.content__text a:hover {
  text-decoration: underline;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-color-hover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  text-decoration: underline;
  outline: none;
}

@media (min-width: 768px) {
  .header {
    display: grid;
    grid-template-columns: repeat(2, minmax(364px, auto));
    grid-template-rows: repeat(4, min-content);
    grid-template-areas:
      "decoration decoration"
      ". nav"
      "header-title header-title"
      ". header-accent";
  }

  .page {
    padding: 20px;
  }

  .header__theme-menu {
    margin: 173.5px 0;
  }

  header .header-main-title {
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    padding-block-start: 5px;
  }

  .header__accent-bg {
    margin-block-start: 164px;
    margin-block-end: 165px;
    align-self: center;
  }
  .content__text-block_section-1 .content__title {
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-end: 10px;
  }

  .content__text-block_section-1 .content__text-subtitle {
    margin-inline-start: 13px;
    margin-block-start: 0px;
    margin-block-end: 0px;
  }

  .content__text-block {
    margin-block-start: 80px;
  }

  .content__figure {
    margin-block-start: 80px;
  }
  .content__text-block_section-1 .content__text {
    margin-inline-start: 13px;
    padding-block-start: 10px;
    padding-block-end: 10px;
  }

  .content__text-block .content__text:last-of-type {
    padding-block-end: 0px;
  }

  .content__text-block_section-1 {
    display: grid;
    grid-template-columns: repeat(3, minmax(236px, auto));
    grid-template-rows: repeat(2, min-content);
    row-gap: 20px;

    grid-template-areas:
      "grid-area_1 grid-area_2 grid-area_2"
      ". grid-area_3 grid-area_3";
  }

  .content__text-block_section-2 .content__title {
    margin-block-start: 0px;
    margin-block-end: 1px;
    padding-inline-end: 10px;
  }

  .content__text-block_section-2 .content__text-subtitle {
    margin-inline-start: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
  }

  .content__text-block_section-2 .content__text {
    margin-inline-start: 0px;
    padding-block-start: 10px;
    padding-block-end: 0px;
  }

  .content__text-block_section-2 {
    display: grid;
    grid-template-columns: repeat(3, minmax(236px, auto));
    grid-template-rows: repeat(4, min-content);
    row-gap: 20px;
    grid-template-areas:
      "grid-area_1 . ."
      "grid-area_2 grid-area_2 grid-area_2"
      "grid-area_3 grid-area_3 grid-area_3"
      "grid-area_4 grid-area_4 grid-area_4";
  }

  .content__text-block_section-3 .content__title {
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-end: 0px;
  }

  .content__text-block_section-3 .content__text-subtitle {
    margin-inline-start: 13px;
    margin-block-start: 0px;
    margin-block-end: 0px;
  }

  .content__text-block_section-3 .content__text-subtitle_regular {
    margin-inline-start: 13px;
    margin-block-start: 0px;
    margin-block-end: 10px;
  }
  .content__text-block_section-3 .content__text {
    margin-inline-start: 13px;
    padding-block-start: 0px;
    padding-block-end: 0px;
  }
  .content__text-block_section-3 {
    display: grid;
    grid-template-columns: repeat(3, minmax(236px, auto));
    grid-template-rows: repeat(6, min-content);
    row-gap: 20px;

    align-self: self-start;
    grid-template-areas:
      "grid-area_1 grid-area_2 grid-area_2"
      "grid-area_1 grid-area_3 grid-area_3"
      ". grid-area_4 grid-area_4"
      ". grid-area_5 grid-area_5"
      ". grid-area_6 grid-area_6"
      ". grid-area_7 grid-area_7";
  }
  .content__figure-section .content__picture-subtitle {
    margin-block-start: 0px;
    margin-block-end: 0px;
  }

  .content__picture {
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .content__picture-size {
    display: block;
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .content__figure-section {
    display: grid;
    grid-template-columns: repeat(3, minmax(229px, 314px));
    grid-auto-rows: auto;
    gap: 20px;
    grid-template-areas:
      "title title title"
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
  }

  .footer__section {
    display: grid;
    grid-template-columns: min-content;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    margin-block-start: 80px;
    padding: 446px 0;
  }

  footer .header-main-title {
    margin-inline-start: 0px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (min-width: 1024px) {
  .header {
    display: grid;
    grid-template-columns: repeat(2, minmax(491px, 1fr));
    grid-template-rows: repeat(4, min-content);
    grid-template-areas:
      "nav nav"
      ". decoration"
      "header-title header-title"
      ". header-accent";
  }

  .header__theme-menu-list {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 0 10px;
  }

  .header__theme-menu {
    margin: 0;
  }

  .header__decoration::before {
    content: "REC";
    position: absolute;
    font-size: 18px;
    font-family: var(--main-font, sans-serif);
    inset-block-start: -21px;
    inset-inline-end: 29px;
    color: var(--accent-color);
  }
  .header__decoration::after {
    content: "";
    position: absolute;
    inline-size: 9px;
    block-size: 9px;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 2px #ff0070;
    background-color: var(--accent-color, #ff0070);
    inset-block-start: -13px;
    inset-inline-end: 8px;
  }

  .header-main-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  header .header-main-title {
    margin-inline-start: -20px;
    padding-block-start: 295px;
  }

  .header__accent-bg {
    margin-block-start: 131px;
    margin-block-end: 115px;
  }

  .content__text-block_section-1 .content__title {
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-end: 10px;
  }

  .content__text-block_section-1 .content__text-subtitle {
    margin-inline-start: 0px;
    margin-block-start: 0px;
    margin-block-end: 10px;
    display: block;
  }

  .content__text-block {
    margin-block-start: 80px;
  }

  .content__figure {
    margin-block-start: 80px;
  }
  .content__text-block_section-1 .content__text {
    margin-inline-start: 0px;
    padding-block-start: 0px;
    padding-block-end: 0px;
  }

  .content__text-block .content__text:last-of-type {
    padding-block-end: 0px;
  }

  .content__text-block_section-1 {
    display: grid;
    grid-template-columns: repeat(3, minmax(315px, 1fr));
    grid-template-rows: repeat(4, min-content);
    gap: 20px;
    grid-template-areas:
      "grid-area_1 grid-area_2 grid-area_2"
      "grid-area_1 grid-area_2 grid-area_2"
      ". grid-area_3 grid-area_3"
      ". grid-area_3 grid-area_3";
  }

  .content__text-block_section-2 .content__title {
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-end: 10px;
  }

  .content__text-block_section-2 .content__text-subtitle {
    margin-inline-start: 0px;
    margin-block-start: 0px;
    margin-block-end: 10px;
  }

  .content__text-block_section-2 .content__text {
    margin-inline-start: 0px;
    padding-block-start: 0px;
    padding-block-end: 0px;
  }

  .content__text-block_section-2 {
    display: grid;
    grid-template-columns: repeat(3, minmax(315px, 1fr));
    grid-template-rows: repeat(2, min-content);
    row-gap: 20px;
    column-gap: 20px;
    grid-template-areas:
      "grid-area_1 . ."
      "grid-area_2 grid-area_3 grid-area_4";
  }

  .content__text-block_section-3 .content__title {
    margin-block-start: 0px;
    margin-block-end: 10px;
    padding-inline-end: 10px;
  }

  .content__text-block_section-3 .content__text-subtitle {
    margin-inline-start: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
  }

  .content__text-block_section-3 .content__text-subtitle_regular {
    margin-inline-start: 0px;
    margin-block-start: 0px;
    margin-block-end: 10px;
  }
  .content__text-block_section-3 .content__text {
    margin-inline-start: 0px;
    padding-block-start: 0px;
    padding-block-end: 0px;
  }
  .content__text-block_section-3 {
    display: grid;
    row-gap: 20px;
    column-gap: 20px;
    grid-template-columns: repeat(3, minmax(315px, 1fr));
    grid-template-rows: repeat(6, min-content);
    align-self: self-start;
    grid-template-areas:
      "grid-area_1 grid-area_2 grid-area_2"
      "grid-area_1 grid-area_3 grid-area_3"
      ". grid-area_4 grid-area_4"
      ". grid-area_5 grid-area_5"
      ". grid-area_6 grid-area_6"
      ". grid-area_7 grid-area_7";
  }
  .content__figure-section .content__picture-subtitle {
    margin-block-start: 0px;
    margin-block-end: 0px;
  }

  .content__picture {
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .content__picture-size {
    display: block;
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .content__figure-section {
    display: grid;
    grid-template-columns: repeat(3, minmax(229px, 1fr));
    grid-auto-rows: auto;
    gap: 20px;
    grid-template-areas:
      "title title title"
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
  }

  .footer__section {
    display: grid;
    grid-template-columns: min-content;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    margin-block-start: 80px;
    padding: 319px 0;
  }

  footer .header-main-title {
    margin-inline-start: 0px;
  }
}
